.wrapper {
  width: 100%;
}

//Search
.search-wrapper {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  background-color: black;
  border-radius: 8px;
  padding: 10px;
}
