.wrapper {
  width: 100%;
  max-width: 1440px;
  height: 138px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 34px 94px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

// Button Log out, Log in
.action {
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.sign-up-btn {
  width: 150px;
  padding: 10px 0;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  color: white;
  font-weight: 400;
}

.sign-in-btn {
  width: 150px;
  padding: 10px 0;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  color: var(--primary-color);
  font-weight: 400;
}

// Search
.icon {
  color: rgb(174, 167, 167);
}

// Nav Bar
.nav {
  margin-left: 15px;
}
